<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}">Listado de Productos</title>

</head>
<body>
    <h1 th:text="${titulo}">Listado de Productos</h1>
    <table border="1" cellpadding="8">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre producto</th>
                <th>Precio</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="producto : ${productos}">
                <td th:text="${producto.id}">1</td>
                <td th:text="${producto.nombreProducto}">ejemplo producto</td>
                <td th:text="${producto.precio}">$</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
